// ! any file starting with _ will not be compiled
// variables

// theme colors
$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

//  spacing
$base-pdg: 0.35rem;
$base-mrg: 0.75rem;

// border

$base-border-thickness: 1px; 
$base-border-rad: 20px; 
$base-border-style: solid;


// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// font sizes
$base-font-size: 1rem;